<h1>People#index</h1>
<p><%= @msg %></p>


<table>
<%= form_tag(controller:"people", action:"find") do %>
<tr>
  <th>Find</th>
  <td><%= text_field_tag("find") %></td>
</tr>
  <th></th>
  <td><%= submit_tag("click") %></td>
</tr>
<% end %>
</table>

<hr>

<table>
<tr>
  <th>id</th><<th>name</th><th>Age</th><th>Mail</th>
</tr>

<% @people.each do |obj| %>
  <tr>
    <td><%= obj.id %></td>
    <td><%= obj.name %></td>
    <td><%= obj.age %></td>
    <td><%= obj.mail %></td>
  </tr>
<% end %>
</table>
