

<h1>People#show</h1>
<p><%= @msg %></p>

<table>

<tr>
  <th>id</th>
  <td><%= @data.id %></td>
</tr>
<tr>
  <th>name </th>
  <td><%= @data.name %></td>
</tr>
<tr>
  <th>age</th>
  <td><%= @data.age %></td>
</tr>
<tr>
  <th>mail</th>
  <td><%= @data.mail %></td>
</tr>
<tr>
  <th>message</th>
  <td>
  <% if @data.message != nil then %>
    <% @data.message.each do |obj| %>
      <%= '「' + obj.title + '」' %>
    <% end %>
  <% end %>
  </td>
</tr>



</table>
