<h1>Cards#index</h1>
<p><%= @msg %></p>

<table>

<tr>
  <th>id</th>
  <td><%= @data.id %></td>
</tr>
<tr>
  <th>title</th>
  <td><%= @data.title %></td>
</tr>
<tr>
  <th>price</th>
  <td><%= @data.price %></td>
</tr>
<tr>
  <th>memo</th>
  <td><%= @data.memo %></td>
</tr>


</table>

<br>
<td><a href="/cards/">Topに戻る</a></td>
